:root {
  background-color: black;
  --horizontal-offset: 8vw;
  --odin-background-color: rgba(0, 0, 0, 0.4);
  --forest-container-width: 35vw
}

.container {
  padding-left: var(--horizontal-offset);
  padding-right: var(--horizontal-offset);
  position: absolute;
  height: 100vh;
}

.forest-container {
  position: relative;
  width: var(--forest-container-width);
  height: 100%;
}

.forest {
    width: 100%;
    height: 100%;
}

.odin_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 23vh;
    height: 16vh;
    width: var(--forest-container-width);
    background-color: var(--odin-background-color);
}

.odin_container>p {
    font-size: 80px;
    font-family: 'Norse Bold';
}

.odin_container>img {
    height: 100%;
}

@font-face {
    font-family: Norse Bold;
    src: url("resoursees/norseBold.otf") format("opentype");
}

.photoBy {
    width: 100%;
    position: relative;
    bottom: 80px;
    color:white;
    text-align: center;
     
}